// colors
$accentColor = #0072e8
$textColor = #25313d
$borderColor = #d9dee6
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.5rem
$sidebarWidth = 20rem
$contentWidth = 1000px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
