// colors
$accentColor = #F5C57E
$textColor = #fff
$borderColor = #F5C57E
$codeBgColor = #282c34
$arrowBgColor = #ccc
$navColor = #fff
$backColor = #1a1a1a

// layout
$navbarHeight = 3.4rem
$sidebarWidth = 30rem
$contentWidth = 1000px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
